/.probe
/.vscode
/cache
/coremods
/crash-reports
/customnpcs
/journeymap
!/journeymap/config
/logs
/local
/modernfix
/mods/.index/
/screenshots
/server-resource-packs
/saves
knownkeys.txt
patchouli_data.json
options.txt
rhino.local.properties
usercache.json
usernamecache.json
hs_*
/resourcepacks
/config/jei/ingredient-list-mod-sort-order.ini
/config/quark-common.toml
resourcepacks/Minecraft-Mod-Language-Modpack-Converted-1.20.1.zip
resourcepacks/