# 不忽略以下文件夹
!/mods/
!/kubejs/
!config/
!/defaultconfigs/
!journeymap/

# 在以上规则的基础上忽略以下文件/文件夹
/kubejs/probejs/
.probe/
.probe/*
.vscode/*
cache/
customnpcs/
local/
logs/
modernfix/
resourcepacks/
saves/
PCL
NagasakiSoyo&Muzimi-natives

usercache.json
usernamecache.json
patchouli_data.json
rhino.local.properties
options.txt
knownkeys.txt
NagasakiSoyo&Muzimi.json
NagasakiSoyo&Muzimi.jar
Minecraft-Hunt.json
Minecraft-Hunt.jar
journeymap/data/
journeymap/icon/
journeymap/server/
journeymapjourneymap.log
journeymapjourneymap.log
journeymap/*
config/jei/jei-client.ini
config/jei/jei-colors.ini
config/jei/jei-debug.ini
config/jei/jei-mod-id-format.ini
journeymapconfig/*
config/jei/blacklist.cfg
config/jei/ingredient-list-type-sort-order.ini
config/embeddium-fingerprint.json
config/quark-common.toml
config/fml.toml
/kubejsconfig/probe-settings.json
journeymap/icon/theme/flat/DesertTemple.theme2.json
journeymap/icon/theme/flat/EndCity.theme2.json
journeymap/icon/theme/flat/ForestMansion.theme2.json
journeymap/icon/theme/flat/NetherFortress.theme2.json
journeymap/icon/theme/flat/OceanMonument.theme2.json
journeymap/icon/theme/flat/Purist.theme2.json
journeymap/icon/theme/flat/Stronghold.theme2.json
journeymapjourneymap.log
config/embeddium-fingerprint.json
config/fml.toml
config/quark-common.toml
config/embeddium-fingerprint.json
config/embeddium-options.json
config/embeddium++.toml
config/fml.toml
journeymapconfig/5.9journeymap.minimap.config
crash-reports/*
screenshots/*
.DS_Store