# 不忽略以下文件夹
!/kubejs/
!config/
!/defaultconfigs/

# 在以上规则的基础上忽略以下文件/文件夹
/kubejs/probejs/
.probe/
.probe/*
.vscode/*
cache/
customnpcs/
local/
logs/
modernfix/
resourcepacks/
saves/
PCL
NagasakiSoyo&Muzimi-natives
usercache.json
usernamecache.json
patchouli_data.json
rhino.local.properties
options.txt
knownkeys.txt
NagasakiSoyo&Muzimi.json
NagasakiSoyo&Muzimi.jar
Minecraft-Hunt.json
Minecraft-Hunt.jar
config/jei/jei-client.ini
config/jei/jei-colors.ini
config/jei/jei-debug.ini
config/jei/jei-mod-id-format.ini
config/jei/blacklist.cfg
config/jei/ingredient-list-type-sort-order.ini
config/embeddium-fingerprint.json
config/quark-common.toml
config/fml.toml
/kubejsconfig/probe-settings.json
config/embeddium-fingerprint.json
config/fml.toml
config/quark-common.toml
config/embeddium-fingerprint.json
config/embeddium-options.json
config/embeddium++.toml
config/fml.toml
crash-reports/*
screenshots/*
.DS_Store
.assets_helper/links.json
.assets_helper/
crash-reports/
journeymap/data/
journeymap/icon/
journeymap/server/
journeymap/journeymap.log
screenshots/
server-resource-packs/
texturepacks/
coremods/
.vscode/
mods/.index